<body>

  <!-- Until we figure out how to serve up js files with sinatra: -->

  <select id="select-movies">
    <option value="home">Home</option>
  </select>
  <p>Hello</p>
  <div id='imdb-result'>a</div>

  <script>
    $(document).ready(function(){
      updateResult();
      $('#select-movies').change(updateResult());
    });

    function updateResult(){
      rating = 'IMDb: 6.8'
      $('#imdb-result').html = rating;
    };
  </script>
</body>
