<body>

  <!-- Until we figure out how to serve up js files with sinatra: -->
  <script>
    $(document).ready(function(){
      getAPI();
      $('#select-movies').change(function() {
        getAPI();
      });
    });

    function getAPI(){
      var selectedMovie = $('#select-movies').val();
      $.get('http://www.omdbapi.com/?t=' + selectedMovie +'&y=&plot=short&r=json', function(data) {
        updateRating(data);
      });
    };

    function updateRating(data){
      var rating = "IMDb: " + data.imdbRating;
      $('#imdb-result').html(rating);
    }
  </script>
  <select id="select-movies">
    <option value="Home">Home</option>
    <option value="Big Game">Big Game</option>
  </select>
  <div id='imdb-result'>a</div>

</body>
