<body>

  <!-- Until we figure out how to serve up js files with sinatra: -->
  <script>
    $(document).ready(function(){
      getAPI();
      $('#select-movies').change(function() {
        getAPI();
      });
    });

    function getAPI(){
      var selectedMovie = $('#select-movies').val();
      $.get('http://www.omdbapi.com/?t=' + selectedMovie +'&y=&plot=short&r=json&tomatoes=true', function(data) {
        updateRating(data);
      });
    };

    function updateRating(data){
      var imdbRating = "IMDb: " + data.imdbRating;
      var tomatoRating = "Rotten Tomatoes: " + data.tomatoRating;
      $('#imdb-result').html(imdbRating);
      $('#rotten-tomatoes-result').html(tomatoRating);
    }

  </script>
  <select id="select-movies">
    <option value="Home">Home</option>
    <option value="Big Game">Big Game</option>
  </select>
  <div id='imdb-result'>a</div>
  <div id='rotten-tomatoes-result'></div>

</body>
