<body>
  <input type="text" placeholder="Enter Postcode" name='Postcode' id='input-post'>
  <input type="submit" name="Search For Cinemas" id='submit-post'>

  <table id='cinemas'>
  </table>
  <script>
  $(document).ready(function(){
    $('#submit-post').on('click', function() {
      submitPost();
    });
  });

  function submitPost(){
    callCinemaAPI($('#input-post').val());
    $('#input-post').val('');
  };

  function callCinemaAPI(postcode) {
    postcode = postcode.replace(/\s+/g, '');
    $.post('postcode/' + postcode, function(data) {
      var data = JSON.parse(data);
      console.log(data);
      for(var i = 0; i < data.length; i++) {
        $('#cinemas').append("<tr> <td>" + data[i].title + "</td> <td> " + data[i].distance + "</td> </tr>");
      }
    });
  };


  </script>
</body>
