<body>
  <input type="text" placeholder="Enter Postcode" name='Postcode' id='input-post'>
  <input type="submit" name="Search For Cinemas" id='submit-post'>

  <table id='cinemas'>
  </table>
  <table id='movies'>
  </table>
  <script>
  $(document).ready(function(){
    $('#submit-post').on('click', function() {
      submitPost();
    });
  });

  function submitPost(){
    callCinemaAPI($('#input-post').val());
    $('#input-post').val('');
  };

  function callCinemaAPI(postcode) {
    $('#cinemas').html('');
    postcode = postcode.replace(/\s+/g, '');
    $.post('postcode/' + postcode, function(data) {
      var data = JSON.parse(data);
      for(var i = 0; i < data.length; i++) {
        $('#cinemas').append("<tr> <td onclick=goToCinema(" + data[i].venue_id + ")>" + data[i].title + "</td> <td> " + data[i].distance + "</td> </tr>");
      }
    });
  };


  goToCinema = function(id){
    $.post('movies/' + id, function(data){
      $('#movies').html('');
      var data = JSON.parse(data);
      for(var i = 0; i < data.length; i++) {
        var title = data[i].title.replace(/ /g,'-')
        title.toString()
        $('#movies').append("<tr id="+title.substring(0, title.length - 7)+"> <td onclick=getAPI('" + title + "')>" + data[i].title + "</td></tr>")
      }
    });
  };

  function getAPI(selectedMovie){
      var movie = selectedMovie.replace(/-/g,'+').substring(0, selectedMovie.length - 7);
      $.get("http://www.omdbapi.com/?t=" + movie +'&y=&plot=short&r=json&tomatoes=true', function(data) {
      idWeWant = (selectedMovie.substring(0, selectedMovie.length - 7)).toString()
      formattedId = "#"+idWeWant
      console.log($(formattedId))
      $(formattedId).append("IMDb " + data.imdbRating + "Rotten Tomatoes " + data.tomatoRating)
    })
  };

  </script>
</body>
