<body>
  <div class="header">
    <input type="text" placeholder="Enter Postcode" name='Postcode' id='input-post'>
    <input type="submit" name="Search For Cinemas" id='submit-post'>
    <div class="loader">Loading...</div>
    <select class="cinemas-dropdown" style="display:none" onchange="updatedSelect()"></select>
  </div>
  <div class="movie-container">
    <table id='movies'>
    </table>
  </div>
  <div id='map-container'><div id='map'></div></div>
  <script>
  var pollution;

  $(document).ready(function(){
    $('#submit-post').on('click', function() {
      submitPost();
    });
    $("#input-post").keyup(function(event){
    if(event.keyCode == 13){
        $("#submit-post").click();
    }
});
  });

  function submitPost(){
    pollution = $('#input-post').val();
    callCinemaAPI($('#input-post').val());
    $('#input-post').val('');
  };

  function callCinemaAPI(postcode) {
    $('#cinemas').html('');
    $('.cinemas-dropdown').fadeOut();
    $('.loader').fadeIn();
    $('.cinemas-dropdown').html('');
    postcode = postcode.replace(/\s+/g, '');
    $.post('postcode/' + postcode, function(data) {
      var data = JSON.parse(data);
      for(var i = 0; i < data.length; i++) {
        $('.cinemas-dropdown').append("<option id=" + data[i].venue_id +">" + data[i].distance + "      " + data[i].title + "</option>");
        $('.loader').fadeOut();
        $('.cinemas-dropdown').fadeIn();
      }
    });
  };

  updatedSelect = function() {
    goToCinema($('.cinemas-dropdown').children(":selected").attr("id"));
    var cinema = $('.cinemas-dropdown').children(":selected")
    var address = cinema[0].innerText.substring(10).trim();
    showMap(address);
  }


  goToCinema = function(id){
    $('.movie-container').html('')
    console.log(id);
    $.post('movies/' + id, function(data){
      $('#movies').html('');
      var data = JSON.parse(data);
      for(var i = 0; i < data.length; i++) {
        var title = data[i].title.replace(/ /g,'-')
        var strippedTitle = title.replace(/:/g, '_')
        strippedTitle = strippedTitle.replace(/&/g, '_')
        title.toString()
        $('.movie-container').append('<div class="movie-frame"><table id=' + strippedTitle.substring(0, title.length - 7) + '></table></div>')
        getAPI(title);
      }
    });
  };

  function getAPI(selectedMovie){
      var movie = selectedMovie.replace(/-/g,'+').substring(0, selectedMovie.length - 7);
      $.get("http://www.omdbapi.com/?t=" + movie +'&y=&plot=short&r=json&tomatoes=true', function(data) {
        idWeWant = (selectedMovie.substring(0, selectedMovie.length - 7)).toString()
        idWeWant = idWeWant.replace(/:/g, '_')
        idWeWant = idWeWant.replace(/&/g, '_')
        formattedId = "#"+idWeWant
        console.log(data);
        $(formattedId).append("<tr><td><img src='" + data.Poster + "' width='100px'></td></tr>");
        $(formattedId).append("<tr><td class='movie-title'>" + data.Title + "</td></tr>")
        $(formattedId).append("<tr><td>IMDb " + data.imdbRating + "<br>Rotten Tomatoes " + data.tomatoRating + "</td></tr>")
      })
  };

  showMap = function(address){
     var origin =pollution.replace(/ /g, '')
     console.log(pollution)
     var destination = address.replace(/ /g, '+')
     var url = '&origin='+ origin + '&destination=' + destination
     var display = "<iframe width='500' height='250' frameborder='0' style='border:0' src='https://www.google.com/maps/embed/v1/directions?key=AIzaSyBCj5rD1yeJmhglY3eapLgqW1GC8WZDoP0"+url+"'></iframe>"
     $("#map").html(display)
   };

  </script>
</body>
